/* ========== Font Family ========== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/*========== Basic Elements ==========*/

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

:root {
    --primary-color: #28ABE3;
    --bg-gray-color: #b6c3cd;
    --black-color: #232323;
    --gray-color: #4E565C;
    --white-color: #fff;
    --light-gray: #eee;
    --text-color:#555;

}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

/* ========== custom design CSS ========== */

::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background:  var(--light-gray); 
} 
::-webkit-scrollbar-thumb {
    background:var(--primary-color); 
} 

/* ========== Scroll-Up Button ========== */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--primary-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--white-color);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* ========== NavBar ========== */

nav{
    position:fixed;
    width:100%;
    padding:1.25rem 0;
    z-index:999;
    transition:all 0.3s ease;
}
nav .navbar .logo a{
     color:var(--white-color);
     margin-top: 0rem;
     font-size:2rem;
     font-weight: 600;
}
nav .navbar .logo.active a{
     color:var(--black-color);
}

nav .navbar .logo_text{
     color:var(--primary-color);
}
nav.sticky{
    background-color:white;
    padding:0.8rem 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
nav .navbar{
    width:85%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
}
nav .navbar .menu{
    display:flex;
    position:relative;
}

.btn{
    margin-top: .7rem;
}

.btn button {
    background:var(--primary-color);
    padding: 0.725rem 1.75rem;
    color: var(--white-color);
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    font-weight: 550;
    text-transform: uppercase;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: var(--white-color);
}
button a:hover{
  color:var(--primary-color);
  transition:all 0.3s ease;
}

.btn button:hover{
    background: transparent;
    font-weight: bold;
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
    transition:all 0.3s ease;
}
   
nav .navbar .menu li{
    list-style: none;
    margin:1.4rem 1.4rem 1.2rem 1.5rem;
}
nav .navbar .menu li a{
    font-size: 0.9rem;
    font-weight: 600;
    color:var(--black-color);
    padding:0.375rem 0;
    transition:all 0.4s ease;
    text-transform: uppercase;
    letter-spacing:0.0625rem;
    text-decoration: none;
}

nav .navbar .menu  li > a:after {
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background:var(--primary-color);
    transition: width .3s;
    margin-top: .3rem;
}
nav .navbar .menu  li > a:hover::after {
    width: 100%;
    transition: width .3s;
}

nav.sticky .navbar .menu li a{
    color:var(--black-color);
}
#contact{
  padding-left:32px;
}

/* ========== Side Navbar ========== */

nav .menu-btn,
nav .menu .cancel-btn{
     position:absolute;
     color:var(--white-color);
     right:1.875rem;
     top:1.25rem;
     margin-top: .5rem;
     cursor:pointer;
     font-size: 1rem;
     transition:all 0.4s ease;
     display:none;
}

nav .menu-btn{
     color:var(--black-color);
}

 
 @media (max-width: 500px) {
     .scroll-up-btn{
         right: 15px;
         bottom: 15px;
         height: 38px;
         width: 35px;
         font-size: 23px;
         line-height: 38px;
     }
}
 
@media (max-width:900px) {
     
    nav .navbar{
        width:90%;
    }
    nav .navbar .menu{
        position:fixed;
        left:-100%;
        top:0;
        background-color:var(--white-color);
        height:100vh;
        max-width: 25rem;
        width:100%;
        padding-top:3.75rem;
        flex-direction: column;
        align-items:center;
        transition: all 0.5s ease;
    }
    nav .menu-btn,
    nav .menu .cancel-btn{
        display:block;
        color:var(--black-color);
    }
    nav .menu-btn{
        color:var(--black-color);
    }
    nav .menu-btn.active{
        color:var(--black-color);
    }
    .navbar.active .menu{
        left:0;
    }
    nav .navbar .menu li a{
        font-size: 1.4375rem;
        color:var(--black-color);
        display:block;
        margin:0.625rem 0;
        cursor:pointer;
    }
   
}

@media (max-width: 900px) {
    #contact{
        padding-top:26px;
        padding-left:0px ;
        cursor:pointer;
    }

}


/* ========== Product Details ========== */

.product{
    width: 100%;
    overflow-x: hidden;
}
.product .container{
    max-width: 1400px;
    margin: 0px auto;
    padding: 20px;
}
.category-filter{
    margin-top: 40px;
}

/* ========== Title ========== */
.title{
    margin-bottom: 40px;
}
.title h1{
    color: var(--black-color);
    text-align: center;
    margin-top:80px;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1px;
}

/* ========== Search ========== */
.form-search{
    margin:  0 auto 35px auto;
    text-align: center;

    font: bold 13px sans-serif;
     max-width: 70%;
    position: relative;
}

.form-search input{
    width: 60%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:  var(--white-color);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 40px;
    border: 1px solid var(--bg-gray-color);
    border-right: 0;
    color:var(--gray-color);
    outline: none;
    -webkit-appearance: none;
}

.form-search button{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color:  var(--primary-color);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: var(--white-color);
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}
.form-search button:hover{
    background-color: #6f96b5 ;
}
.form-search i{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    color: #80A3BD;
}

/* ==========Filter btn ========== */

.filter-btns{
    text-align: center;
}
.filter-btn{
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: var(--bg-gray-color);
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.filter-btn::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--text-color);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.filter-btn:hover{
    color: var(--text-color);
}
.filter-btn:hover::after{
    width: 100%;
}

.active-btn{
    color: var(--text-color);
}
.active-btn::after{
    width: 100%;
}

.filter-items{
    margin-top: 40px;
}
.item-img{
    position: relative;
    overflow: hidden;
}
.item-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(212, 203, 203, 0.1);
}

.item-img img{
    width: 100%;
    display: block;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.filter-item:hover .item-img img{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.item-img .discount{
    position: absolute;
    right: 0;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color:var(--primary-color);
    z-index: 1;
    border-radius: 2px;
    color: var(--white-color);
    font-size: 12px;
    padding: 4px 16px;
}
.item-info{
    padding: 14px 0;
}
.item-info p{
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}
.item-info .old-price{
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
}
.item-info .new-price{
    display: inline-block;
    margin-left: 6px;
    font-weight: 600;
    color: #f53939;
    font-family: 'Montserrat', sans-serif;
}
.add-btn{
    display: inline-block;
    margin-top: 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--white-color);
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid var(--primary-color);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}


.filter-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.filter-item{
    width: 100%;
    margin-bottom: 40px;
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (min-width: 768px){
    .filter-item{
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 992px){
    .filter-item{
        width: calc(33.3333% - 30px);
    }
}

@media screen and (min-width: 1200px){
    .filter-item{
        width: calc(25% - 30px);
    }
}

/* ========== Footer ========== */
#Logo{
    max-width: 100%;
    height: auto;
}
#footer {
    text-align: center;
    padding: 40px 0px 20px 0px;
}

.footer-area {
    border-bottom: 1px solid #353C46;
}

.footer-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.footer-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}
#Sahayak{
    margin-bottom: 10px;
    color:#e3e3e3;
}
#Sahayak:hover{
    color:var(--primary-color);
    transition: all 0.8 ease-in-out;
}
.footer-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.footer-content span {
    color: #353c47;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

.footer-content img {
    max-width: 210px;
}

#footer, footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer img {
    width: 44px;
}

